.tabla{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
tr:nth-child(1n){
    background-color: white;
}
tr:nth-child(2n){
    background-color: rgb(239,248,254);
}
.sticky, .sticky2{
    position: sticky;
    left: 0;
}
tr .sticky2{
    background-color: rgb(239,239,239); 
}
tr:nth-child(1n) .sticky{
    background-color: white;
}
tr:nth-child(2n) .sticky{
    background-color: rgb(239,248,254);
}
.label-formul {
    border-bottom: 2px solid black;
    padding: 4px 10px;
    position: relative;
}

 .label-formul .input-formul
 {
    border: none;
    background: transparent;
    outline: none;
}

.select-formul{
    background-color: rgb(239,239,239); 
}

 .label-formul .span-formul{

    color: Black;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: .25s;
}
.label-formul .span-formul, .label-formul span.top{
    font-weight: bold;
}

.label-formul span.top {
    color: rgb(1,119,139);
    left: 2px;
    top: -10px;
    background: transparent;
    font-size: 12px;
    padding: 0 5px;
}
/*Carousel*/
.carousel, .carousel-inner > .item > img {
    height: 100px;
  }